.authentification {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 93vh;
  .authentification__admin {
    .admin__title {
      font-size: 24px;
      font-weight: normal;
      margin: 0.5rem;
    }
    .admin__text {
      font-size: 24px;
      font-weight: normal;
      margin: 0.5rem;
    }
  }

  .authentification__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .authentification__auth-button {
    display: flex;
    justify-content: center;
    .button-list__authentification {
      width: 450px;
    }
  }
}
