.response__child {
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
    flex-direction: row;
    input[type="radio"]{
        border: 1px solid #2c2c2c;
        width: 16px;
        height: 16px;
        position: relative;
        appearance: none;
        border-radius: 50%;
        cursor: pointer;
    }
    input[type="radio"]:checked::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 10px;
        height: 10px;
        background-color: #00ff00;
        border-radius: 50%;
        border: 1px solid #00ff00;
    }
    input[type="checkbox"] {
        border: 1px solid #2c2c2c;
        width: 16px;
        height: 16px;
        position: relative;
        appearance: none;
        border-radius: 4px;
    }
    input[type="radio"]:checked {
        border: 1px solid #00ff00; 
        background-color:  #ffffff; 
    }
    input[type="checkbox"]:checked {
        border: 1px solid #00ff00; 
        background-color:  #00ff00; 
    }
    input[type="checkbox"]:checked::before {
        content: '\2713';
        position: absolute;
        top: -4px;
        left: 0px;
        font-size: 15px;
        font-weight: 900;
        color: #fff;
    }
    .response__text{
        margin-left: 0.5rem;
        font-size: 18px;
    }
}